body {
  background-image: linear-gradient(to right, red, rgb(0, 68, 255));

  font-family: Sans-Serif;

  height: 100%;

  margin: 0;
  padding: 50px;
}

h1 {
  color: whitesmoke;
  font-size: xxx-large;
  text-align: center;
}

.box {
  position: absolute;
  top: 200px;
  right: 500px;
}

h2,
p {
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

tr {
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

#input_box {
  width: 250px;
  height: 250px;

  font-size: 16px;
  font-weight: bold;

  margin: 8px;
  padding: 12px;

  border: none;
  border-radius: 5px;

  outline: none;
}

#but_submit_c {
  font-size: 16px;
  font-weight: bold;

  background-color: rgba(50, 223, 102, 0.822);
  color: white;

  margin: 8px;
  padding: 12px;

  border: none;
  border-radius: 5px;

  outline: none;
}
#but_logout {
  font-size: 16px;
  font-weight: bold;

  background-color: rgba(207, 8, 8, 0.822);
  color: white;

  margin: 8px;
  padding: 12px;

  border: none;
  border-radius: 5px;

  outline: none;
  position: absolute;
  right: 10px;
  top: 5px;
}
#but_logout:focus {
  transform: scale(1.1);
}
